{% extends 'flatpages/default.html' %}
{% load custom_tags %}


{% block title %}Новости
{% endblock title %}


{% block content %}

   <form action="" method="get" style="text-align:right" title="Поиск">
       <h6>Поиск новости</h6>
       {{ filterset.form.as_p }}
       <input type="submit" value="Искать" />
   </form>
   <h1>Все новости</h1>
    <hr>
    {% if news %}
        <table>
            <tr style="background-color:#b3b3b3">
               <td><h4>Заголовок</h4></td>
               <td><h4>Время создания</h4></td>
               <td><h4>Контент</h4></td>
               <td><h4>Категория</h4></td>
                <td><h4>Автор</h4></td>
           </tr>

           {% for post in news %}
           <tr style="background-color:#d9d9d9" class="lead">
               <td>{{ post.title }}</td>
               <td width="10%">{{ post.create_time }}</td>
               <td width="40%" style="text-align:left">
                   <a href="{{post.id}}" class="btn btn-secondary">
                       Подробнее
                   </a>
                   {{ post.body|truncatewords:20 }}
               </td>
               <td>{{ post.post_choice }}</td>
               <td>{{ post.author }}</td>
           </tr>
           {% endfor %}

       </table>
    {% else %}
       <h2>Нет новостей!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
